<?xml version="1.0" encoding="UTF-8"?>
<suite name="test1" verbose="1">
	
	
	<test name="POMFramework">
		<classes>
			
			<class name="redbusProject.Testpages.NavigateTest"></class>
			<class name="redbusProject.Testpages.AccountPageTest"></class>
			<class name="redbusProject.Testpages.bookBusTicketTest"></class>
			
			
		</classes>
	</test>
	
	
	
</suite>
